*.o
*.swp
*~
/vision/captures/*.tif
ThreadVision_DiscreteRods/threadStereo
ThreadVision_DiscreteRods/threadStereo_fake
ThreadVision_DiscreteRods/stereo_test/*
ThreadVision_DiscreteRods/PrecomputedCanny/*
ThreadVision_DiscreteRods/test_images/*
tags
vision/captures/*
*.png
*.avi
MotionPlanning/SQP_DATA/*.txt
MotionPlanning/ims_for_vids/*
*.pem
*.so
*.wpr
python/doo.cpp
*.pyc
*.npy
DiscreteRods/testThreadDiscrete
DiscreteRods/testThreadDiscrete_phantom
MotionPlanning/run_planner_libs
MotionPlanning/run_planner_libs_dim1
MotionPlanning/run_planner_libs_dim2
MotionPlanning/test_linearization
MotionPlanning/test_planner
MotionPlanning/vis_onetraj
MotionPlanning/visualize_trajs
john/doo/doo.cpp
john/doo/eigen_src/

